.contactSection {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 50vh;
    margin: auto;
    justify-content: center;
    transform: translateX(-100vw);
    transition: 1s ease;
    align-items: center;
}

.contactSection h1 {
    font-size: 30px;

}

.details {
    text-align: left;
}

.details p {
    font-size: 20px;
    margin: 0;
    font-style: italic;
}

.active {
    transform: translateX(0);
}