.logo{
    height:40px;
    margin:10px;
}
.hamburger{
    cursor: pointer;
    height:40px;
    margin:10px;
}
.NavBarBackground{
    background:rgba(132, 46, 206,0.5);
}
.NavBar{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.DesktopNavBarItems {
    display: flex;
    flex-direction: column;
    width:inherit;
    gap: 5;
    margin: 10px;
}

.MobileNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.RowFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.ColumnFlex {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.navList{
    animation: nav 2s ease;
    flex-direction: column;
    display: flex;
    justify-items: center;
    align-items:center;
    gap: 10px;
}

.navItem {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

.navItem p:hover{
    color: orange;
}

.absoluteNavBar {
    position: fixed;
    top: 0px;
    width: 100%;
}

.headshot{
    width:100%;
    border-radius: 50%;
    border: 5px solid var(--bg_color);
}

.headshotContainer{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.headshotTitle{ 
    margin: 5px;
}